html, body, #app, .home {
  height: 100%;
}

.home{
  .ant-layout-header {
    background-color: #ebebeb;
  }
  .ant-layout-content {
    background-color: #fff;
    padding: 30px;
    height: 100%;
  }
  .canvas {
    height: calc(~'100% - 20px');
    box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
  }
}
